body {
    margin: 0;
    padding: 5px 10px; 
    font-size: 12px;
    min-height: 650px;
    
/*     &.ui-widget-content {
        border: none;    
    } */
    
	.header {
        margin: 10px 0 0 0;
	    width:  ~"calc(100% - 10px)";
	    display: block;
	
	    .wrapper {
	        position: relative;
	        overflow: hidden;
	        height: 66px;
	    }
        
	    .themechooser {
	        float: right;
	        right: 4px;
	        top: 5px;
	        position: relative;
	        font-size: .65em;
	    }
	    
	    .title {
	       top: -21px;
	       position: relative;
	       float:left;
	    }
	    
	    .navigation {
		    top: -35px;
		    position: relative;
		    clear: both;
		    float: left;
	               
	        ul {
	            list-style: none;
	            display: inline-block;
	            
	            li {
	                float: left;
	                padding: 0 10px;
	            }
	            
	            li.last {
	                float:right;
	            }
	            
	        }
	    } 
	}
	
	.section {
	    width:  ~"calc(100% - 10px)";
	    min-height: 300px;
	}
	
	.footer {
	    width:  ~"calc(100% - 10px)";   
	    min-height: 25px;
	    .wrapper {
	        padding-left: 10px; 
	    }
	}    
}



.ui-tabs-anchor:focus {
    outline: none;
}

.ui-accordion-header:focus {
    outline: none;
}

input {
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;   
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    
	:focus {
	    border-color: lime;
	}    
}

textarea {
    border-top-left-radius: 5px;    
    border-top-right-radius: 5px;   
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    
	&:focus {
	    border-color: lime;
	}    
}

select{
	width: 150px;
	
	&:focus {
	    border-color: lime;
	}	
}

button:focus {
    outline: none;
}

@import "progress.less";