body {
  margin: 0;
  padding: 5px 10px;
  font: 10px Arial, Tahoma, Verdana, sans-serif;
  min-height: 650px;
}
.ui-widget {
  font-size: .95em;
}
.ui-widget .ui-widget {
  font-size: .95em;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 0;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 0;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 0;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 0;
}
h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  padding: 2px 0;
}
.header {
  margin: 10px 0 0 0;
  width: calc(100% - 10px);
  display: block;
}
.header .wrapper {
  position: relative;
  overflow: hidden;
  height: 66px;
}
.header .themechooser {
  float: right;
  right: 4px;
  top: 5px;
  position: relative;
  font-size: .65em;
}
.header .title {
  float: left;
  padding-left: 10px;
}
.header .navigation {
  clear: both;
  float: left;
  width: 100%;
}
.header .navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
.header .navigation ul li {
  float: left;
  padding: 0 10px;
}
.header .navigation ul li.last {
  float: right;
}
.section {
  width: calc(100% - 30px);
  min-height: calc(100% - 130px);
  padding: 20px 10px 0 10px;
}
.footer {
  width: calc(100% - 10px);
  min-height: 25px;
}
.footer .wrapper {
  padding-left: 10px;
}
.footer .systemtime {
  float: right;
  width: calc(100% - 650px);
  text-align: right;
  padding-right: 10px;
}
.errors-container {
  position: fixed;
  top: 10px;
  width: calc(100% - 30px);
  margin: 0 auto;
  z-index: 1000;
  line-height: 25px;
}
.error {
  clear: both;
  float: left;
  width: 100%;
  margin: 2px;
  padding: 2px;
}
.ui-tabs-anchor:focus {
  outline: none;
}
.ui-accordion-header:focus {
  outline: none;
}
input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
input :focus {
  border-color: lime;
}
textarea {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
textarea:focus {
  border-color: lime;
}
select {
  width: 150px;
}
select:focus {
  border-color: lime;
}
button:focus {
  outline: none;
}
.edit-form .ui-button {
  min-width: 75px;
}
.edit-form label {
  float: left;
  width: 120px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.edit-form input {
  float: left;
  width: clac(100% - 140px);
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.edit-form select {
  float: left;
  width: clac(100% - 140px);
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.edit-form textarea {
  clear: left;
  float: left;
  width: clac(100% - 15px);
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.loginWrapper .buttonLine {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  clear: both;
  float: left;
}
.loginWrapper .buttonLine input {
  float: none;
  margin-left: 5px;
  margin-right: 5px;
}
#circularG {
  position: relative;
  width: 180px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.circularG {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 15px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 1.52s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 15px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 1.52s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 15px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 1.52s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 15px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 1.52s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 15px;
  animation-name: bounce_circularG;
  animation-duration: 1.52s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#circularG_1 {
  left: 0;
  top: 10px;
  -moz-animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
  -ms-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
#circularG_2 {
  left: 20px;
  top: 10px;
  -moz-animation-delay: 1.71s;
  -webkit-animation-delay: 1.71s;
  -ms-animation-delay: 1.71s;
  -o-animation-delay: 1.71s;
  animation-delay: 1.71s;
}
#circularG_3 {
  left: 40px;
  top: 10px;
  -moz-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  animation-delay: 1.52s;
}
#circularG_4 {
  left: 60px;
  top: 10px;
  -moz-animation-delay: 1.33s;
  -webkit-animation-delay: 1.33s;
  -ms-animation-delay: 1.33s;
  -o-animation-delay: 1.33s;
  animation-delay: 1.33s;
}
#circularG_5 {
  left: 80px;
  top: 10px;
  -moz-animation-delay: 1.14s;
  -webkit-animation-delay: 1.14s;
  -ms-animation-delay: 1.14s;
  -o-animation-delay: 1.14s;
  animation-delay: 1.14s;
}
#circularG_6 {
  left: 100px;
  top: 10px;
  -moz-animation-delay: 0.95s;
  -webkit-animation-delay: 0.95s;
  -ms-animation-delay: 0.95s;
  -o-animation-delay: 0.95s;
  animation-delay: 0.95s;
}
#circularG_7 {
  left: 120px;
  top: 10px;
  -moz-animation-delay: 0.76s;
  -webkit-animation-delay: 0.76s;
  -ms-animation-delay: 0.76s;
  -o-animation-delay: 0.76s;
  animation-delay: 0.76s;
}
#circularG_8 {
  left: 140px;
  top: 10px;
  -moz-animation-delay: 0.57s;
  -webkit-animation-delay: 0.57s;
  -ms-animation-delay: 0.57s;
  -o-animation-delay: 0.57s;
  animation-delay: 0.57s;
}
@-moz-keyframes bounce_circularG {
  0% {
    -moz-transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.3);
  }
}
@-webkit-keyframes bounce_circularG {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.3);
  }
}
@-ms-keyframes bounce_circularG {
  0% {
    -ms-transform: scale(1);
  }
  100% {
    -ms-transform: scale(0.3);
  }
}
@-o-keyframes bounce_circularG {
  0% {
    -o-transform: scale(1);
  }
  100% {
    -o-transform: scale(0.3);
  }
}
@keyframes bounce_circularG {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}
body .loadingWrapper {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  height: 55px;
  z-index: 1001;
  border-width: 1px;
  background-position: 50% 50%;
  margin: 0 auto;
}
body .loadingContainer {
  opacity: .85;
  filter: alpha(opacity=95);
}
body .savingWrapper {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  height: 55px;
  z-index: 1001;
  border-width: 1px;
  background-position: 50% 50%;
  margin: 0 auto;
}
body .savingContainer {
  opacity: .85;
  filter: alpha(opacity=95);
}
.loadingIndicator {
  width: 185px;
  height: 75px;
  margin: 0 auto;
}
.loadingIndicator .loadingText {
  font-weight: bold;
  width: 75px;
  text-align: center;
  margin: -85px 0 0 10px;
  float: left;
}
.loadingIndicator .itemCount {
  text-align: center;
  width: 125px;
  margin: -85px 0px 0px 20px;
  float: right;
}
#progressbarcontainer .loadingIndicator .loadingText {
  font-size: 1.10em;
  font-weight: bold;
  width: 125px;
  text-align: center;
  margin: -90px auto 0;
}
.progressbarcontainer .progressIndicator .progressText {
  font-size: 1.10em;
  font-weight: bold;
  width: 125px;
  text-align: center;
  margin: -12px auto 0;
}
.savingIndicator {
  width: 185px;
  height: 75px;
  margin: 0 auto;
}
.savingIndicator .savingText {
  font-weight: bold;
  width: 75px;
  text-align: center;
  margin: -85px 0 0 10px;
  float: left;
}
.savingIndicator .itemCount {
  text-align: center;
  width: 125px;
  margin: -85px 0px 0px 20px;
  float: right;
}
